*{
    margin: 0;
    padding: 0;
}
#LandingContainer{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color: rgb(142, 169, 193);
    
}
#header{
    display: flex;
    padding: 16px 0 0 16px;
    height: 70px;
    align-items: center;
    overflow: hidden;
}
.LandPageLinks{
    margin-right: 32px;
    text-decoration: none;
    color: #252525;
    font-size: 28px;
}
#bodyLandingPage{
    display: flex;
    justify-content: flex-end;
}
#TextContentLandingPage{
    text-align: center;
    margin: 32px 0 0 0;
}
#MVMh1{
    font-size: 64px;
}
#MVMp{
    font-size: 24px;
    margin-top: 16px;
}
#buttonDiv{
    margin-top: 24px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.ButtonLanding{
    border: solid 0px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
#svg{
    background-image: url("/public/favicon.ico");
    background-repeat: none;
    background-size: cover;
    width: 71px;
    height: 55px;
    margin-left: 32px;
}
#linkBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#scedualBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 80%;
    opacity: 1;
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
    
}
#allContentMain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 32px;
    height: 80%;
}
#scedualBox::-webkit-scrollbar{
    width: 0px;
}