*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header{
    display: flex;
    padding: 0px 0 0 16px;
    height: 52px;
    align-items: center;
    overflow: hidden;
    background-color: rgb(244, 244, 244);
}
.LandPageLinks{
    margin-right: 32px;
    text-decoration: none;
    color: #252525;
    font-size: 20px;
}
#bodyLandingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#TextContentLandingPage{
    text-align: center;
    margin: 32px 0 0 0;
    position: absolute;
}
#MVMh1{
    font-size: 64px;
    color:rgb(242, 242, 242);
}
#MVMp{
    font-size: 24px;
    margin-top: 16px;
    color:rgb(206, 206, 206);
}
#buttonDiv{
    margin-top: 24px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.ButtonLanding{
    border: solid 0px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}
#svg{
    background-image: url("/public/favicon.ico");
    background-repeat: none;
    background-size: cover;
    width: 51px;
    height: 40px;
    margin-left: 32px;
}
#linkBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#allContentMain{
    align-items: center;
    height: 92%;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow:hidden;
}
#LandingContainer{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
#MarketContainer{
    display: flex;
}

/*Scroll Bar*/

::-webkit-scrollbar{
    width: 10px;
    color: rgb(132, 89, 34);
}
::-webkit-scrollbar-track-verticle{
    background-color: #252525;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(134, 148, 143);
}
::-webkit-scrollbar-thumb-horizontal{
    background-color: transparent;
}
