#widgetBox {
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  min-width: 300px;
  height: fit-content;
  background-color: #364756de;
}
#atag {
  text-decoration: none;
  color: aliceblue;
}
@media (300px <= width <= 768px) {
  #widgetBox {
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    width: 200px;
    height: fit-content;
    background-color: #364756de;
  }
  #atag {
    text-decoration: none;
    color: aliceblue;
    font-size: 8px;
  }
}
