#widgetBox{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 16px;
    margin: 16px;
    border-radius: 15px;
    width: 85%;
    height: fit-content;
    background-color: rgb(221, 242, 150);
}