#mcard{
    display: flex;
    justify-content: center;
    background-color: rgb(243, 241, 221);
    border-radius: 5px;
    margin: 2rem;
    width: 300px;
    height: 400px;
}
.MushroomImgCards{
    width: 200px;
    height: 200px;
    align-items: center;
}
#infoMContainer{
    text-align: center;
    padding: 2rem;
}
#MushPara{
    margin-top: 1rem;
}