#ProductPageContainer{
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.McardRow{
    display: flex;
    justify-content: space-evenly;
}
#pagetitleSpecies{
    text-align: center;
    font-size: 64px;
    font-family: BebasNeue-Regular;
    filter: drop-shadow( 4px 12px 2px rgba(40, 40, 40, .6));
}